@page "/"
@using APIServiceLayer.Models.Tasks
@using System.Runtime.CompilerServices
@inject StudlyApiBaseService ApiService
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthService

@attribute [Authorize]

<PageTitle>Studly</PageTitle>

@foreach (var task in _tasks)
{
    <div style="" class="m-3">
        <TaskCard TaskObject="task" TaskView="ShortView.Card"/>
    </div>
}
<div style="" class="m-3">
    <TaskAddComponent OnConfirmCreationTaskCallback="OnCreationNewTask"></TaskAddComponent>
</div>


@code
{


}