@page "/singup"
@using APIServiceLayer.Models

<MudContainer Class="my-5" Style="max-width: 600px">
    <MudPaper>
        <MudCard Class="p-4 shadow">
            <MudCardContent Class="mx-5">
                <h3 class="font-monospace  pb-5">REGISTER</h3>
                <EditForm Model="@_registerModel" OnValidSubmit="HandleSingUp">
                    <MudTextField Class="my-5"
                    @bind-Value="_registerModel.Email"
                                  Label="Email"
                                  Variant="Variant.Text"
                                  Required="true" />
                    <MudTextField Class="my-5"
                    @bind-Value="_registerModel.Name"
                                  Label="Name"
                                  Variant="Variant.Text"
                                  Required="true" />
                    <MudTextField Class="my-5"
                    @bind-Value="_registerModel.Password"
                                  Label="Password"
                                  Variant="Variant.Text"
                                  Required="true"
                                  InputType="InputType.Password" />
                    <MudTextField Class="my-5"
                    @bind-Value="_passwordRepeat"
                                  Label="Password repeat"
                                  Variant="Variant.Text"
                                  Required="true"
                                  InputType="InputType.Password" />

                    <MudButton Class="w-100 my-3"
                               Type="submit"
                               Color="Color.Secondary"
                               Variant="Variant.Filled">
                        SING UP
                    </MudButton>

                    <p class="pt-5">
                        If you already have an account
                        <MudLink Href="login"
                                 Color="Color.Info">Login</MudLink>
                    </p>

                    <ValidationSummary />
                    <DataAnnotationsValidator />

                </EditForm>
            </MudCardContent>
        </MudCard>
    </MudPaper>
</MudContainer>

@code {
    private UserRegisterDto _registerModel = new();
    private string _passwordRepeat = "";

    private async Task HandleSingUp()
    {
    }
}


<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        animation: gradientAnimation 10s linear infinite; /* Применяем анимацию */
        background: linear-gradient(45deg, #120155, #620051); /* Градиентный фон */
        background-size: 200% 200%; /* Увеличиваем размер фона */
    }

    @@keyframes gradientAnimation {
        0% {
            background-position: 60% 60%;
        }

        50% {
            background-position: 100% 100%;
        }

        100% {
            background-position: 60% 60%;
        }
    }

    }
</style>

