@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudMainContent Class="pt-0 vh-100">
    
    <Navigation />

    <div>
        @Body
    </div>

</MudMainContent>


