@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div>
    <main>
        <article class="" style="padding: 0 !important;">
            @Body
        </article>
    </main>
</div>
